includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 6
    paths:
        - src
        - tests
    parallel:
        maximumNumberOfProcesses: 1
    tmpDir: var/phpstan
    treatPhpDocTypesAsCertain: true
